<div>
    <ul>
        <li>
            <a href="/ui/customer">Customer</a>
        </li>
        <li>
            <a href="/ui/product">Product</a>
        </li>
        <li>
            <a href="/ui/basket">Basket</a>
        </li>
        <li>
            <a href="/ui/sale">Sale</a>
        </li>
        <li>
            <a href="/ui/feedback">Feedback</a>
        </li>
    </ul>
</div>

@code {
   
}
